<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Career Catalyst</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,500,500i,600,600i,700,700i&subset=cyrillic" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Lonely - v4.7.0
  * Template URL: https://bootstrapmade.com/free-html-bootstrap-template-lonely/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column align-items-center justify-content-center">
    <h1>Career Catalyst -AI Based Online Job Portal</h1>
    <a href="#about" class="btn-get-started scrollto"><i class="bi bi-chevron-double-down"></i></a>
  </section><!-- End Hero -->

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="index.html">Career Catalyst</a></h1>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Previous Page</a></li>

          <li class="dropdown"><a href="#"><span>Clients</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li class="dropdown"><a href="#"><span>Job Seeker</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="/signup">Sign Up</a></li>
                  <li><a href="/signin">Sign In</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <script>
    function validateForm() {
      const fname = document.getElementById("name").value;
      const pwd = document.getElementById("pwd").value;
      const cpwd = document.getElementById("cpwd").value;

      if (!/^[a-zA-Z ]+$/.test(fname)) {
        alert("Name must contain only letters.");
        return false;
      }

      // Validate password length
      if (pwd.length < 3 || pwd.length > 15) {
        alert("Password must be between 3 and 15 characters.");
        return false;
      }

      // Confirm passwords match
      if (pw1 !== pw2) {
        alert("Passwords do not match.");
        return false;
      }
    }

    function showFlashMessages() {
      const flashMessages = document.querySelectorAll('.alert');
      flashMessages.forEach(message => {
        setTimeout(() => {
          message.style.transition = 'opacity 0.5s ease';
          message.style.opacity = '0';
          setTimeout(() => {
            message.remove();
          }, 500);
        }, 5000);
      });
    }

    document.addEventListener("DOMContentLoaded", showFlashMessages);
  </script>

  <main id="main">
    <section id="contact" class="contact section-bg">
      <div class="container">
        <center>
          <div class="col-md-8">
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  <div class="alert alert-{{ category }}">
                    {{ message }}</div>
                {% endfor %}
              {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
          </div>
        </center>

        <div class="section-title">
          <h2>Job Seeker Registration Page</h2>
        </div>

        <div class="row">
          <div class="col-lg-5 col-md-8">
            <form action="/signupback" method="post" role="form" onsubmit="return validateForm()" enctype="multipart/form-data">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" value="{{ form_data.name if form_data and form_data.name else '' }}" required>
              </div>
              <div class="form-group mt-3">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" value="{{ form_data.email if form_data and form_data.email else '' }}" required>
              </div>
              <div class="form-group mt-3">
                <input type="password" class="form-control" name="pwd" id="pwd" placeholder="Password" required>
              </div>
              <div class="form-group mt-3">
                <input type="password" class="form-control" name="cpwd" id="cpwd" placeholder="Confirm Password" required>
              </div>
              <div class="form-group mt-3">
                <input type="number" class="form-control" name="age" id="no" min="18" max="70"  placeholder="Age" value="{{ form_data.age if form_data and form_data.age else '' }}" required>
              </div>
              <div class="form-group mt-3">
                <input type="tel" name="pno" class="form-control" placeholder="Mobile Number" pattern="[0-9]{10}" title="It must contain 10 numbers" value="{{ form_data.pno if form_data and form_data.pno else '' }}" required />
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="addr" rows="2" placeholder="Address" required>{{ form_data.addr if form_data and form_data.addr else '' }}</textarea>
              </div>
              <div class="form-group mt-3">
                <select class="form-control" name="state" id="inputState" value="{{ form_data.state if form_data and form_data.state else '' }}" required>
                  <option value="SelectState">Select State</option>
                  <option value="Andra Pradesh">Andhra Pradesh</option>
                  <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                  <option value="Assam">Assam</option>
                  <option value="Bihar">Bihar</option>
                  <option value="Chhattisgarh">Chhattisgarh</option>
                  <option value="Goa">Goa</option>
                  <option value="Gujarat">Gujarat</option>
                  <option value="Haryana">Haryana</option>
                  <option value="Himachal Pradesh">Himachal Pradesh</option>
                  <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                  <option value="Jharkhand">Jharkhand</option>
                  <option value="Karnataka">Karnataka</option>
                  <option value="Kerala">Kerala</option>
                  <option value="Madya Pradesh">Madya Pradesh</option>
                  <option value="Maharashtra">Maharashtra</option>
                  <option value="Manipur">Manipur</option>
                  <option value="Meghalaya">Meghalaya</option>
                  <option value="Mizoram">Mizoram</option>
                  <option value="Nagaland">Nagaland</option>
                  <option value="Orissa">Orissa</option>
                  <option value="Punjab">Punjab</option>
                  <option value="Rajasthan">Rajasthan</option>
                  <option value="Sikkim">Sikkim</option>
                  <option value="Tamil Nadu">Tamil Nadu</option>
                  <option value="Telangana">Telangana</option>
                  <option value="Tripura">Tripura</option>
                  <option value="Uttaranchal">Uttaranchal</option>
                  <option value="Uttar Pradesh">Uttar Pradesh</option>
                  <option value="West Bengal">West Bengal</option>
                  <option disabled style="background-color:#aaa; color:#fff">UNION Territories</option>
                  <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                  <option value="Chandigarh">Chandigarh</option>
                  <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                  <option value="Daman and Diu">Daman and Diu</option>
                  <option value="Delhi">Delhi</option>
                  <option value="Lakshadeep">Lakshadeep</option>
                  <option value="Pondicherry">Pondicherry</option>
                </select>
              </div>
            
              <div class="form-group mt-3">
                <p>Please select gender:</p>
                <input type="radio" id="html" name="gender" value="Male">
                <label value="Male">Male</label><br>
                <input type="radio" id="css" name="gender" value="Female">
                <label value="Female">Female</label><br>
                <input type="radio" id="javascript" name="gender" value="Others">
                <label value="Others">Others</label>
              </div>
              <div class="form-group mt-3">
                <input type="file" name="filen" class="form-control" required />
              </div>
              <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <script src="static/vendor/purecounter/purecounter.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>
  <script src="static/js/main.js"></script>
  <script src="static/js/distric.js"></script>

</body>

</html>
